body
  font-family: "Open Sans" !important

\:focus
  outline: 0

\::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder
  color: #000

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill
  background-color: transparent

iframe
  border: 0
  height: 100%
  width: 100%

/* ---------------------------------------
 *	
 *	Login 
 *
 *------------------------------------------

body#login
  background: url('img/bg.jpg') no-repeat center center fixed
  /*background-position: center;
  background-size: cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/bg.jpg', sizingMethod='scale')
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/bg.jpg', sizingMethod='scale')"
  hr
    border: 0
    height: 0
    border-bottom: 1px solid #a8b8c4

.login-form
  width: 500px
  height: 400px
  background-color: #fff
  text-align: center
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  padding: 35px
  margin: auto
  label
    float: left
    color: #a8b8c4

input
  width: 100%
  border: 0
  border-bottom: #a8b8c4 .5px solid
  padding: 10px 0
  font-size: 16px
  color: #000

.form-group
  margin: 30px 0

.login-form
  .login-btn
    background: #007ee5
    border: 0
    color: #fff
    padding: 15px
    font-size: 14px
    font-weight: bold
    cursor: pointer
  .login-text
    font-size: 14px
    line-height: 22px
    color: #a8b8c4
    a
      color: #007ee5
      text-decoration: none

/* ---------------------------------------
 *
 *	Account
 *
 *------------------------------------------

body#set
  background: #f5f8f9
  color: #333333

.profile-picture
  float: left
  border: 0
  margin: 0 25px
  img
    object-position: center
    object-fit: cover
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2)
    height: 170px
    width: 170px

.content
  max-width: 1170px
  margin: 70px auto
  background: #fff
  width: 100%
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2)
  position: relative
  &.head
    position: relative
  &.body
    height: 615px
    padding: 35px 45px

.mobile-only
  display: none

.set-form
  width: 270px

.logout
  float: right
  text-transform: uppercase
  background: transparent
  color: #007ee5
  border-radius: 0
  border-color: #007ee5
  margin-right: 25px
  margin-top: 25px
  position: absolute
  top: 0
  right: 0

.webui-popover-inner .close
  font-family: open sans
  margin: 0
  float: right
  font-size: 12px
  font-weight: bold
  line-height: 12px
  color: #000
  text-shadow: none
  opacity: 1
  filter: alpha(opacity = 1)
  text-decoration: none
  height: 30px
  float: none !important
  width: 100px !important
  margin-right: 20px !important
  margin-bottom: 20px !important
  &:after
    content: ""

.cancel
  background: transparent !important
  color: #007ee5 !important
  border: 1px solid #007ee5 !important

.save
  background: #007ee5 !important
  color: #fff !important
  width: 100px !important
  border-color: #007ee5 !important

.nav-tabs > li
  > a
    text-transform: uppercase
    color: #333
    border-radius: 0
  &.active > a
    border: 0
    border-bottom: 3px solid #007ee5
    &:focus, &:hover
      border: 0
      border-bottom: 3px solid #007ee5

.webui-popover
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2)
  border-radius: 0
  border: 0

.about-form label, .webui-popover label
  color: #333333
  font-size: 16px
  opacity: .5
  font-weight: normal

.about-form input, .webui-popover input
  margin-bottom: 20px

.about-form span
  background: #f5f8f8
  padding: 10px

.form-input
  height: 40px

.about-form span
  &.glyphicon.edit
    background: #ecf1f5
    padding: 12px !important
    cursor: pointer
    &:hover, &:focus, &:active
      background: #007ee5
      color: #fff
  span.glyphicon
    background: transparent !important
    padding: 0 !important

.cover-buttons
  font-family: Open Sans
  z-index: -1
  display: block
  height: 45px
  width: 220px
  color: #d0dce7
  background: transparent
  text-align: center
  font-weight: 500
  margin: auto
  padding: 10px 0
  border: 1px solid #d4d5d6
  border-radius: 3px
  cursor: pointer
  text-align: center
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0

.info .glyphicon
  -webkit-text-stroke: 1px black
  color: transparent

#out-first
  padding: 0

.rating
  float: right
  margin-right: 20px

ul.float-left.navbar-nav.nav.nav-tabs
  margin-left: 220px
  display: -webkit-box

.navbar
  border-top: 1px rgba(0, 0, 0, 0.2) solid
  position: absolute
  bottom: 0
  margin: 0
  z-index: -2
  width: 100%
  border-bottom: 0

.navbar-right
  margin-right: 20px

.navbar-nav > li > a
  color: #333

.head.content
  height: 300px
  padding-top: 110px
  z-index: 999999

#review
  display: inline-block

.button-corner
  position: absolute
  top: 0
  right: 0
  margin-right: 45px
  margin-top: 35px

/* ---------------------------------------
 *
 *	Mobile
 *
 *------------------------------------------

@media (max-width: 740px)
  /* Login
  .login-form
    width: auto
    height: auto
  .login-text
    text-align: left
  body#login hr
    border: 0
  .submit-link
    position: absolute
    left: 0
    right: 0
    bottom: 0
  .login-title
    margin-top: 65px
    margin-bottom: 90px
  /* Account
  .content
    margin: 15px auto
  .navbar-nav
    margin: 0 -20px
  .profile-picture
    width: 100%
    text-align: center
    border: 0
    margin: 0
    float: none
    img
      width: 130px
      height: 130px
  body#set
    margin: 0
  .head.content
    margin: 0
    width: 100%
    background: transparent
  .content.body
    margin-bottom: 0
    width: auto
    height: auto
  body.in-iframe
    margin: 0
  .mobile-only
    display: inline-block
  .mobile-hide
    display: none
  .logout
    border: 0
    background: transparent
    width: 100%
    margin-bottom: 35px
    text-align: right
    &:hover, &:active, &:focus
      background: transparent
      color: inherit
  .about-form span
    background: transparent
  .rating
    float: none
  .head.content
    padding: 65px 20px 0
    height: auto
  .navbar
    position: relative
    border-top: 0
  ul.float-left.navbar-nav.nav.nav-tabs
    margin: 0 -20px
    display: -webkit-box
    background: #fff
    overflow: auto
  .nav-tabs > li > a
    border: 0
    margin: 0
    background: #fff
  #review
    display: block
    margin-bottom: 10px
  .info h2
    text-align: center
  .profile-info
    display: flex
    flex-wrap: wrap
  .rating
    width: 100%
    -webkit-order: 0
    order: 0
  .info
    width: 100%
    -webkit-order: -1
    order: -1